.xsh_noticebox{background: #ffffff;width: 100%;padding: 10px 0;margin-top: 10px;overflow: hidden;}
.xsh_notice_conbox{margin-top: 0;}
.xsh_noticebox>a{display: block;width: 90%;margin: auto;}
.xsh_notice_text{width: 100%;height: 40px;margin: auto;color: #000000;font-size: 13px;line-height: 20px;font-weight: 600;overflow:hidden;text-overflow:ellipsis;display: -webkit-box;  -webkit-line-clamp: 2;  -webkit-box-orient: vertical;}
.xsh_notice_time{font-size: 12px; color: #9b9b9b;text-align: right;height: 23px;}
/*提醒*/
.xsh_remind_name{color: #0085d1;font-size: 14px;margin-bottom: 3px;}
.xsh_remind_text{font-weight: 400;line-height: 20px;}
/*私信*/
.private_letter{width: 100%;background: #ffffff;margin-top: 10px;overflow: hidden;position: relative;}
.xsh_private_letter_box{width: 90%;margin: auto;padding: 10px 0;}
.xsh_user_logo{width: 60px;height: 60px;border-radius: 5px;overflow: hidden;position: relative;float: left;margin-right: 10px;}
.xsh_private_letter_name{font-size: 14px;color: #000000;line-height: 18px;margin-bottom: 5px;font-weight: 500;}
.xsh_private_letter_text{width: auto;color: #000000;font-weight: 500;}
/*信息回复*/
.xsh_message_box{width: 100%;height: 100%;}
.xsh_message_box>ul{width: 90%;margin: auto;overflow: hidden;position: relative;padding-bottom: 55px;}
.xsh_message_box>ul>li{margin-top: 20px;}
.xsh_you,.xsh_me{width: 80%;overflow: hidden;position: relative;}
.xsh_you{float: left;}
.xsh_you>.xsh_message_logobox{margin-right: 10px;}
.xsh_you>.xsh_message_logobox,.xsh_you>.xsh_message_text{float: left;}
.xsh_me{float: right;}
.xsh_me>.xsh_message_logobox{margin-left: 10px;}
.xsh_me>.xsh_message_logobox,.xsh_me>.xsh_message_text{float: right;}
.xsh_message_logobox{width: 40px;height: 40px;border-radius: 5px;overflow: hidden;position: relative;}
.xsh_message_logobox img{width: 100%;height: 100%;border-radius: 5px;}
.xsh_message_text{width: 160px;height: auto;border-radius: 5px;position: relative;font-size: 12px;line-height: 16px;padding: 15px 10px;text-align: justify;}
.xsh_you>.xsh_message_text{background: #ffffff;}
.xsh_message_textimg{width: 100%;border-radius: 5px;overflow: hidden;position: relative;}
.xsh_message_textimg>img{width: 100%;border-radius: 5px;overflow: hidden;}
.xsh_message_textmaximg{max-width: 100%;max-height: 100%;position: absolute;top: 50%;left: 50%;z-index: 1;
    -webkit-transform: translate(-50%,-50%);
    -moz-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    -o-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);}
.xsh_you_trigon{border-top: 5px solid transparent;border-bottom: 5px solid transparent;border-right: 5px solid #ffffff;border-left: 0px solid transparent;position: absolute;top: 15px;left: -5px;}
.xsh_me>.xsh_message_text{background: #C8E0F0;}
.xsh_message_text p{word-break: break-word;}
.xsh_message_text p img{max-width: 160px;}
.xsh_me_trigon{border-top: 5px solid transparent;border-bottom: 5px solid transparent;border-left: 5px solid #C8E0F0;border-right: 0px solid transparent;position: absolute;top: 15px;right: -5px;}
.xsh_message_fixed{width: 100%;height: 49px;position: fixed;bottom: 0;left: 0;background: #0085d1;}
.xsh_message_formbox{width: 90%;margin: auto;height: 100%;}
.xsh_message_formbox>form{margin: 10px 0;}
.xsh_message_inputext{width: 80%;height: 30px;border-radius: 5px;border: none;font-size: 14px;}
.xsh_message_submit{color: #ffffff;font-size: 16px;margin-left: 20px;}
/*圈子详情*/
.xsh_search_box{width: 100%;position: fixed;top: 0;left: 0;z-index: 5;background: #f8f8f8;}
.xsh_search_conbox{width: 90%;margin: 9px auto 8px;overflow: hidden;}
.xsh_search{width: 65%;height: 24px;display: block;float: left;background: #ffffff;padding: 8px 10px;border-radius: 5px;}
.xsh_searchimg>img{height: 100%;float: left;margin-right: 5px;}
#xsh_search{border: none;background: none;display: block;height: 100%;}
.xsh_post{float: right;width:60px;height: 100%;background: #ffffff;border-radius: 5px;text-align: center;line-height: 36px;padding: 0 5px;}
.xsh_post>a{color: #4a4a4a;}
.xsh_text_one{overflow: hidden;white-space: nowrap;text-overflow: ellipsis;font-size: 14px;}
.xsh_user_logo_radius{border-radius: 50%;}
.xsh_circle_label{color: #7f7f7f;font-size: 14px;max-height: 30px;}
.xsh_circle_list_box{margin-top: 57px;}
.xsh_circle_list{line-height: 30px;}
.xsh_circle_name{display: block;float: left;width: 60px;overflow: hidden;position: relative;margin-right: 10px;font-weight: 600;}
.xsh_circle_time{font-weight: 500;display: block;float: left;}
.xsh_hotimg{height: 16px;float: right;margin: 7px 0;}
.xsh_asynchronous_searchbox{width: 100%;height: 100%;background: #f8f8f8;position: absolute;top: 0;left: 0;z-index: 1;display: none;}
/*圈子管理*/
.xsh_management_member{width: 100%;height: 205px;background: #ffffff;text-align: center;border-bottom: 1px solid #eeeeee;}
.xsh_circlr_member{float: none;margin: auto;}
.xsh_circlr_member_box{margin: 0 auto; background: #ffffff;}
.xsh_circle_member_list{float: left;width: 25%;margin-top: 16px;}
.xsh_circle_member_name{width: 100%;overflow: hidden;margin-top: 5px;height: 13px;}
.xsh_circlr_member_btn{border: 1px solid #9b9b9b;position: relative;}
.xsh_circlr_member_btn>img{width: 50%;height: auto;position: absolute;top: 50%;left: 50%;
    -webkit-transform: translate(-50%,-50%);
    -moz-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    -o-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);}
.xsh_more_member_box{width: 100%;height: 45px;background: #ffffff;}
.xsh_more_member{width: 90%;height: 100%;margin: auto;text-align: center;line-height: 45px;}
.xsh_more_member_btn{background: url("/static/h5/imagesrrow_right.png") no-repeat right;padding-right: 15px;background-size: auto 20px;font-size: 14px;}
.xsh_circle_information{background: #ffffff;width: 100%;overflow: hidden;margin-top: 10px;line-height: 20px;}
.xsh_circle_information_box{background: #ffffff;width: 90%;margin: auto;overflow: hidden;}
.xsh_circle_information_box li,.xsh_circle_information_box>div{width: 100%;padding: 15px 0;position: relative;}
.xsh_circle_managebor{border-bottom: 1px solid #eeeeee;}
.xsh_circle_information_title{font-size: 15px;font-weight: 600;float: left;width: 80%;}
.xsh_circle_information_con{float: right;font-size: 13px;color: #666666;font-weight: 400;height: 20px;position: absolute;right: 0;top: 50%;;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);}
.xsh_circle_syn{font-size: 13px;color: #666666;font-weight: 400;}
.xsh_circle_apply_box{float: left;width: 40%;overflow: hidden;line-height: 30px;}
.xsh_circle_apply_name{font-size: 15px;}
.xsh_circle_apply_syn{font-size: 15px;color: #999999;}
.xsh_circle_apply_btnbox{width: 100px;height: 100%;overflow: hidden;position: relative;float: right;}
.xsh_circle_apply_btn{float: left;width: 40px;text-align: center;font-size: 14px;color: #ffffff;padding: 5px 3px;border-radius: 5px;margin: 15px 0;}
.xsh_circle_accept{background: #0086d1;margin-right: 5px;}
.xsh_circle_refuse{background: #e64340;}
.xsh_circle_manage{width: 100%;height: 45px;overflow: hidden;position: relative;margin-top: 50px;}
.xsh_circle_manage_operation{width: 90%;height: 100%;margin: auto;background: #e64340;border-radius: 5px;overflow: hidden;position: relative;text-align: center;line-height: 45px;color: #ffffff;font-size: 16px;}
/*资料详情*/
.xsh_information_name{line-height: 30px;}
.xsh_information_box{font-size: 14px;padding: 8px 0;}
.xsh_information_box > li{padding: 8px 0;}
.xsh_user_information{color: #000000;font-weight: 100;}
.xsh_information_title{width: 4em;display: block;float: left;}
.xsh_information_btn_box{margin-top: 20px;}
.xsh_information_min_btn{float: left;width: 40%;margin: 0 5%;}
.xsh_information_btn{background: #0085d1;color: #ffffff;}
/*帖子详情*/
.xsh_postdetails_box{width: 100%;background: #ffffff;padding-top: 15px;overflow: hidden;}
.xsh_postdetails_header{width: 90%;margin: 5px auto;font-size: 16px;line-height: 20px;letter-spacing: 1px;}
.xsh_post_user_logo{width: 50px;height: 50px;}
.xsh_post_user_box{line-height: 25px;}
.xsh_postdetails_text{font-size: 12px;line-height: 18px;}
.xsh_postdetails_textbox{padding: 0;letter-spacing: normal;}
.xsh_postdetails_images{width: 100%;}
.xsh_postdetails_images>li,.xsh_postdetails_images>li>img{width: 100%;}
.xsh_floor_box{margin-top: 10px;background: #ffffff;overflow: hidden;position: relative;}
.xsh_floor_box>ul{width: 100%;margin: auto;}
.xsh_floor{padding: 15px 5%;overflow: hidden;position: relative;border-bottom: 1px solid #9b9b9b;}
.xsh_floor_username{color: #0e71c6;font-size: 15px;font-weight: 500;}
.xsh_floor_number{color: #9b9b9b;font-size: 13px;float: right;}
.xsh_floor_textbox{width: 73%;float: left;text-align: justify;margin-top: 10px;font-size: 13px;line-height: 15px;}
.xsh_floor_textbox>ul{display: block;overflow: hidden;position: relative;}
.xsh_floor_textbox>p{padding-bottom: 5px;}
.xsh_floor_text{position: relative;padding-right: 10px;margin-bottom: 5px;}
.xsh_floor_text_time{font-size: 12px;color: #9b9b9b;display: block;}
@media screen and (min-width: 370px){
    .xsh_floor_textbox{width: 77%;}
}
@media screen and (min-width: 410px){
    .xsh_floor_textbox{width: 79%;}
}
.xsh_floor_text_img{width: 30%;overflow: hidden;position: relative;float: left;margin: 2px;font-size: 0;line-height: 0;}
.xsh_floor_text_img img{width: 100%;}
/*我的帖子*/