{
    "swagger": "2.0",
    "info": {
        "title": "\u8fd9\u662f\u4e2d\u5fc3API\uff0c\u4f60\u6ca1\u641e\u9519\u5427",
        "description": "\u8bbf\u95ee\u672c\u57df\u540d\u662f\u663e\u793a\u6587\u6863\uff0c\u8bbf\u95eeswagger.php?re=1\u5219\u5237\u65b0",
        "version": "\u4e0d\u786e\u5b9a"
    },
    "host": "local.discuz.com/app.php?action=",
    "basePath": "/",
    "schemes": [
        "http",
        "https"
    ],
    "paths": {
        "auth-login": {
            "post": {
                "tags": [
                    "\u7528\u6237\u76f8\u5173"
                ],
                "summary": "\u767b\u5f55",
                "description": "\u7528\u6237\u767b\u5f55,\u767b\u5f55\u6210\u529f\u540e\u5c06\u8fd4\u56de\u6570\u636e\u4e3a\u5230\u671f\u7684\u65f6\u95f4\u6233\uff0c\u5426\u5219\u5c06\u4f1a\u63d0\u793a\u9519\u8bef\uff0c\u5e76\u8fd4\u56de\u9519\u8bef\u4ee3\u7801",
                "operationId": "login",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "username",
                        "in": "formData",
                        "description": "\u7528\u6237\u540d",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "password",
                        "in": "formData",
                        "description": "\u5bc6\u7801",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "{'state':{\u7ed3\u679c\u4ee3\u7801},'result':{\u8fd4\u56de\u7ed3\u679c}}"
                    }
                }
            }
        },
        "auth-register": {
            "post": {
                "tags": [
                    "\u7528\u6237\u76f8\u5173"
                ],
                "summary": "\u6ce8\u518c",
                "description": "\u7528\u6237\u6ce8\u518c\u529f\u80fd, \u6b64\u63a5\u53e3\u524d\uff0c\u8bf7\u5148\u83b7\u53d6\u6ce8\u518c\u9875\u9762\u7684\u63a5\u53e3",
                "operationId": "register",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "username",
                        "in": "formData",
                        "description": "\u7528\u6237\u540d",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "password",
                        "in": "formData",
                        "description": "\u5bc6\u7801",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "email",
                        "in": "formData",
                        "description": "\u90ae\u7bb1",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "tagid",
                        "in": "formData",
                        "description": "\u516c\u53f8\u6807\u7b7eID",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "{'state':{\u7ed3\u679c\u4ee3\u7801},'result':{\u8fd4\u56de\u7ed3\u679c}}"
                    }
                }
            }
        },
        "auth-pregister": {
            "get": {
                "tags": [
                    "\u7528\u6237\u76f8\u5173"
                ],
                "summary": "\u6ce8\u518c\u4e4b\u524d\uff0c\u7528\u4e8e\u83b7\u53d6tagid",
                "description": "\u83b7\u53d6\u6ce8\u518c\u9875\u9762\u7684\u63a5\u53e3",
                "operationId": "pregister",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "responses": {
                    "200": {
                        "description": "{'state':{\u7ed3\u679c\u4ee3\u7801},'result':{\u8fd4\u56de\u7ed3\u679c}}"
                    }
                }
            }
        },
        "auth-changPassword": {
            "post": {
                "tags": [
                    "\u7528\u6237\u76f8\u5173"
                ],
                "summary": "\u66f4\u6539\u7528\u6237\u767b\u5f55\u5bc6\u7801",
                "description": "\u66f4\u6539\u7528\u6237\u767b\u5f55\u5bc6\u7801",
                "operationId": "changPassword",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "uid",
                        "in": "formData",
                        "description": "\u7528\u6237ID",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "oldPassword",
                        "in": "formData",
                        "description": "\u65e7\u5bc6\u7801",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "newPassword",
                        "in": "formData",
                        "description": "\u65b0\u5bc6\u7801",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "{'state':{\u7ed3\u679c\u4ee3\u7801},'result':{\u8fd4\u56de\u7ed3\u679c}}"
                    }
                }
            }
        },
        "auth-resetPassword": {
            "post": {
                "tags": [
                    "\u7528\u6237\u76f8\u5173"
                ],
                "summary": "\u627e\u56de\u7528\u6237\u767b\u5f55\u5bc6\u7801",
                "description": "\u627e\u56de\u7528\u6237\u767b\u5f55\u5bc6\u7801",
                "operationId": "resetPassword",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "phone",
                        "in": "formData",
                        "description": "\u624b\u673a\u53f7",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "code",
                        "in": "formData",
                        "description": "\u9a8c\u8bc1\u7801",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "newPassword",
                        "in": "formData",
                        "description": "\u65b0\u5bc6\u7801",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "{'state':{\u7ed3\u679c\u4ee3\u7801},'result':{\u8fd4\u56de\u7ed3\u679c}}"
                    }
                }
            }
        },
        "auth-blind": {
            "post": {
                "tags": [
                    "\u7528\u6237\u76f8\u5173"
                ],
                "summary": "\u7ed1\u5b9a\u624b\u673a\u53f7",
                "description": "\u7ed1\u5b9a\u624b\u673a\u53f7",
                "operationId": "blind",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "uid",
                        "in": "formData",
                        "description": "\u7528\u6237ID",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "phone",
                        "in": "formData",
                        "description": "\u624b\u673a\u53f7",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "code",
                        "in": "formData",
                        "description": "\u9a8c\u8bc1\u7801",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "{'state':{\u7ed3\u679c\u4ee3\u7801},'result':{\u8fd4\u56de\u7ed3\u679c}}"
                    }
                }
            }
        },
        "code-whenResetPassword": {
            "post": {
                "tags": [
                    "\u9a8c\u8bc1\u7801"
                ],
                "summary": "\u3010\u91cd\u7f6e\u5bc6\u7801\u3011\u9a8c\u8bc1\u7801",
                "description": "\u83b7\u53d6\u91cd\u7f6e\u5bc6\u7801\uff0c\u6240\u7528\u9a8c\u8bc1\u7801",
                "operationId": "whenResetPassword",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "phone",
                        "in": "formData",
                        "description": "\u624b\u673a\u53f7",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "{'state':{\u7ed3\u679c\u4ee3\u7801},'result':{\u8fd4\u56de\u7ed3\u679c}}"
                    }
                }
            }
        },
        "code-whenBlinkPassword": {
            "post": {
                "tags": [
                    "\u9a8c\u8bc1\u7801"
                ],
                "summary": "\u3010\u7ed1\u5b9a\u624b\u673a\u3011\u9a8c\u8bc1\u7801",
                "description": "\u83b7\u53d6\u7ed1\u5b9a\u624b\u673a\uff0c\u6240\u7528\u9a8c\u8bc1\u7801",
                "operationId": "whenBlinkPassword",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "phone",
                        "in": "formData",
                        "description": "\u624b\u673a\u53f7",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "{'state':{\u7ed3\u679c\u4ee3\u7801},'result':{\u8fd4\u56de\u7ed3\u679c}}"
                    }
                }
            }
        },
        "index-banner": {
            "get": {
                "tags": [
                    "\u9996\u9875\u76f8\u5173"
                ],
                "summary": "\u8f6e\u64ad\u56fe",
                "description": "\u83b7\u53d6\u8f6e\u64ad\u56fe",
                "operationId": "banner",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "responses": {
                    "200": {
                        "description": "{'state':{\u7ed3\u679c\u4ee3\u7801},'result':{\u8fd4\u56de\u7ed3\u679c}}"
                    }
                }
            }
        },
        "index-hdzl": {
            "get": {
                "tags": [
                    "\u9996\u9875\u76f8\u5173"
                ],
                "summary": "\u83b7\u53d6\u4e92\u52a8\u4e13\u680f\u4fe1\u606f",
                "description": "\u83b7\u53d6\u4e92\u52a8\u4e13\u680f\u4fe1\u606f",
                "operationId": "hdzl",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "responses": {
                    "200": {
                        "description": "{'state':{\u7ed3\u679c\u4ee3\u7801},'result':{\u8fd4\u56de\u7ed3\u679c}}"
                    }
                }
            }
        },
        "index-quiz": {
            "post": {
                "tags": [
                    "\u9996\u9875\u76f8\u5173"
                ],
                "summary": "\u83b7\u53d6\u4e92\u52a8\u4e13\u680f\u3010\u5b50\u7248\u5757\u3011\u4fe1\u606f",
                "description": "\u83b7\u53d6\u4e92\u52a8\u4e13\u680f\u3010\u5b50\u7248\u5757\u3011\u4fe1\u606f",
                "operationId": "quiz",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "fid",
                        "in": "formData",
                        "description": "\u7236\u7ea7\u5206\u7c7b\u7684fid",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "{'state':{\u7ed3\u679c\u4ee3\u7801},'result':{\u8fd4\u56de\u7ed3\u679c}}"
                    }
                }
            }
        },
        "index-tabs": {
            "get": {
                "tags": [
                    "\u9996\u9875\u76f8\u5173"
                ],
                "summary": "\u83b7\u53d6\u4fe1\u606f\u6d41\u5206\u7c7b\u4fe1\u606f",
                "description": "\u83b7\u53d6\u4fe1\u606f\u6d41\u5206\u7c7b\u4fe1\u606f",
                "operationId": "tabs",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "responses": {
                    "200": {
                        "description": "{'state':{\u7ed3\u679c\u4ee3\u7801},'result':{\u8fd4\u56de\u7ed3\u679c}}"
                    }
                }
            }
        },
        "index-information": {
            "post": {
                "tags": [
                    "\u9996\u9875\u76f8\u5173"
                ],
                "summary": "\u83b7\u53d6\u4fe1\u606f\u6d41\u5185\u5bb9",
                "description": "\u83b7\u53d6\u4fe1\u606f\u6d41\u5185\u5bb9\uff0c\u9700\u4f20\u5165\u3010\u677f\u5757ID\uff0c\u548c\u9875\u7801ID\u3011",
                "operationId": "information",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "typeid",
                        "in": "formData",
                        "description": "\u4fe1\u606f\u7c7b\u522bID",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "page",
                        "in": "formData",
                        "description": "\u9875\u7801",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "{'state':{\u7ed3\u679c\u4ee3\u7801},'result':{\u8fd4\u56de\u7ed3\u679c}}"
                    }
                }
            }
        },
        "index-postQuestion": {
            "post": {
                "tags": [
                    "\u9996\u9875\u76f8\u5173"
                ],
                "summary": "\u9996\u9875\u5411\u4e13\u5bb6\u63d0\u95ee",
                "description": "\u9996\u9875\u5411\u4e13\u5bb6\u63d0\u95ee",
                "operationId": "postQuestion",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "uid",
                        "in": "formData",
                        "description": "\u7528\u6237ID",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "fid",
                        "in": "formData",
                        "description": "\u6700\u5b50\u5c42\u677f\u5757ID",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "question",
                        "in": "formData",
                        "description": "\u95ee\u9898\u5185\u5bb9",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "{'state':{\u7ed3\u679c\u4ee3\u7801},'result':{\u8fd4\u56de\u7ed3\u679c}}"
                    }
                }
            }
        }
    },
    "definitions": {}
}