{
    "swagger": "2.0",
    "info": {
        "title": "\u8fd9\u662f\u4e2d\u5fc3API\uff0c\u4f60\u6ca1\u641e\u9519\u5427",
        "description": "\u8bbf\u95ee\u672c\u57df\u540d\u662f\u663e\u793a\u6587\u6863\uff0c\u8bbf\u95eeswagger.php?re=1\u5219\u5237\u65b0",
        "version": "\u4e0d\u786e\u5b9a"
    },
    "host": "local.discuz.com/app.php?action=",
    "basePath": "/",
    "schemes": [
        "http",
        "https"
    ],
    "paths": {
        "auth-login": {
            "post": {
                "tags": [
                    "login"
                ],
                "summary": "\u767b\u5f55",
                "description": "\u7528\u6237\u767b\u5f55,\u767b\u5f55\u6210\u529f\u540e\u5c06\u8fd4\u56de\u6570\u636e\u4e3a\u5230\u671f\u7684\u65f6\u95f4\u6233\uff0c\u5426\u5219\u5c06\u4f1a\u63d0\u793a\u9519\u8bef\uff0c\u5e76\u8fd4\u56de\u9519\u8bef\u4ee3\u7801",
                "operationId": "login",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "username",
                        "in": "formData",
                        "description": "\u7528\u6237\u540d",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "password",
                        "in": "formData",
                        "description": "\u5bc6\u7801",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "{'state':{\u7ed3\u679c\u4ee3\u7801},'result':{\u8fd4\u56de\u7ed3\u679c}}"
                    }
                }
            }
        },
        "auth-register": {
            "post": {
                "tags": [
                    "register"
                ],
                "summary": "\u6ce8\u518c",
                "description": "\u7528\u6237\u6ce8\u518c\u529f\u80fd, \u6b64\u63a5\u53e3\u524d\uff0c\u8bf7\u5148\u83b7\u53d6\u6ce8\u518c\u9875\u9762\u7684\u63a5\u53e3",
                "operationId": "register",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "username",
                        "in": "formData",
                        "description": "\u7528\u6237\u540d",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "password",
                        "in": "formData",
                        "description": "\u5bc6\u7801",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "email",
                        "in": "formData",
                        "description": "\u90ae\u7bb1",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "tagid",
                        "in": "formData",
                        "description": "\u516c\u53f8\u6807\u7b7eID",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "{'state':{\u7ed3\u679c\u4ee3\u7801},'result':{\u8fd4\u56de\u7ed3\u679c}}"
                    }
                }
            }
        },
        "auth-pregister": {
            "post": {
                "tags": [
                    "pregister"
                ],
                "summary": "\u6ce8\u518c\u4e4b\u524d\uff0c\u7528\u4e8e\u83b7\u53d6tagid",
                "description": "\u83b7\u53d6\u6ce8\u518c\u9875\u9762\u7684\u63a5\u53e3",
                "operationId": "pregister",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "responses": {
                    "200": {
                        "description": "{'state':{\u7ed3\u679c\u4ee3\u7801},'result':{\u8fd4\u56de\u7ed3\u679c}}"
                    }
                }
            }
        },
        "auth-changPassword": {
            "post": {
                "tags": [
                    "changPassword"
                ],
                "summary": "\u66f4\u6539\u7528\u6237\u767b\u5f55\u5bc6\u7801",
                "description": "\u66f4\u6539\u7528\u6237\u767b\u5f55\u5bc6\u7801",
                "operationId": "changPassword",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "uid",
                        "in": "formData",
                        "description": "\u7528\u6237ID",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "oldPassword",
                        "in": "formData",
                        "description": "\u65e7\u5bc6\u7801",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "newPassword",
                        "in": "formData",
                        "description": "\u65b0\u5bc6\u7801",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "{'state':{\u7ed3\u679c\u4ee3\u7801},'result':{\u8fd4\u56de\u7ed3\u679c}}"
                    }
                }
            }
        }
    },
    "definitions": {}
}