<!--{template common/header}-->

<link rel="stylesheet" href="{$_G[setting][jspath]}../zte/css/style.css">
    <link rel="stylesheet" href="{$_G[setting][jspath]}../zte/css/reset.css">
    
    
<div class="xsh_box">
    <div class="xsh_box">
    <!--con-->
    <div class="xsh_content_box">
        <div class="xsh_con_left">
            <div class="xsh_tab xsh_circle_tabbox">
                <!--我加入的圈子-->
                <div class="xsh_circle_box">
                    <div class="xsh_circle_header">
                        <ul>
                            <li class="xsh_circle_hot">我加入的圈子</li>
                            <li>我加入的圈子</li>
                            <li>全部圈子</li>
                        </ul>
                    </div>
                    <div class="xsh_circle_content">
                        <ul>
                            <!--圈子-->
                            <li>
                                <div class="xsh_circle_logobox">
                                    <div class="xsh_circle_logo">
                                        <a href="">
                                            <img src="http://img.dahe.cn/qf/2016/11/20/1941MZCD59.jpg" alt="加载不成功">
                                        </a>
                                    </div>
                                    <div class="xsh_circle_card">
                                        <div class="xsh_circle_name"><a href="">新手学习新手学习新手学习</a></div>
                                        <div class="xsh_circle_data">
                                            <div class="xsh_circle_num">成员:<span>46845</span></div>
                                            <div class="xsh_circle_cardnum">帖子:<span>5465</span></div>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <!--圈子-->
                            <li>
                                <div class="xsh_circle_logobox">
                                    <div class="xsh_circle_logo">
                                        <a href="">
                                            <img src="http://img.dahe.cn/qf/2016/11/20/1941MZCD59.jpg" alt="加载不成功">
                                        </a>
                                    </div>
                                    <div class="xsh_circle_card">
                                        <div class="xsh_circle_name"><a href="">新手学习新手学习新手学习</a></div>
                                        <div class="xsh_circle_data">
                                            <div class="xsh_circle_num">成员:<span>46845</span></div>
                                            <div class="xsh_circle_cardnum">帖子:<span>5465</span></div>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <!--圈子-->
                            <li>
                                <div class="xsh_circle_logobox">
                                    <div class="xsh_circle_logo">
                                        <a href="">
                                            <img src="http://img.dahe.cn/qf/2016/11/20/1941MZCD59.jpg" alt="加载不成功">
                                        </a>
                                    </div>
                                    <div class="xsh_circle_card">
                                        <div class="xsh_circle_name"><a href="">新手学习新手学习新手学习</a></div>
                                        <div class="xsh_circle_data">
                                            <div class="xsh_circle_num">成员:<span>46845</span></div>
                                            <div class="xsh_circle_cardnum">帖子:<span>5465</span></div>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <!--圈子-->
                            <li>
                                <div class="xsh_circle_logobox">
                                    <div class="xsh_circle_logo">
                                        <a href="">
                                            <img src="http://img.dahe.cn/qf/2016/11/20/1941MZCD59.jpg" alt="加载不成功">
                                        </a>
                                    </div>
                                    <div class="xsh_circle_card">
                                        <div class="xsh_circle_name"><a href="">新手学习新手学习新手学习</a></div>
                                        <div class="xsh_circle_data">
                                            <div class="xsh_circle_num">成员:<span>46845</span></div>
                                            <div class="xsh_circle_cardnum">帖子:<span>5465</span></div>
                                        </div>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="xsh_circle_content">
                <div class="xsh_circle_conbox">
                    <form action="" method="" target="" name="" class="xsh_circle_form">
                        <select name="主题" id="12">
                            <option value="">全部主题</option>
                            <option value="">全部主题</option>
                            <option value="">全部主题</option>
                        </select>
                        <select name="排序" id="32">
                            <option value="">全部主题</option>
                            <option value="">全部主题</option>
                            <option value="">全部主题</option>
                        </select>
                    </form>
                    <!--list-->
                    <div class="xsh_circle_list">
                        <ul>
                            <li>
                                <div class="xsh_cirlis_logo">
                                    <a href="">
                                        <img src="http://img.dahe.cn/qf/2016/11/20/1941MZCD59.jpg" alt="加载不成功">
                                    </a>
                                </div>
                                <div class="xsh_cirlis_name">
                                    <h3 class="xsh_cirlis_cirname"><a href="">明明白白的了解自己的贡献是怎么来的</a></h3>
                                    <p><span>linda</span> | <span>2016-10-17</span> | <span>核心网资料社区</span> </p>
                                </div>
                                <div class="xsh_cirlis_data">
                                    <span class="liuyanl">65465465</span>
                                    <span class="liulanl">6546546</span>
                                </div>
                            </li>
                            <li>
                                <div class="xsh_cirlis_logo">
                                    <a href="">
                                        <img src="http://img.dahe.cn/qf/2016/11/20/1941MZCD59.jpg" alt="加载不成功">
                                    </a>
                                </div>
                                <div class="xsh_cirlis_name">
                                    <h3 class="xsh_cirlis_cirname"><a href="">明明白白的了解自己的贡献是怎么来的</a></h3>
                                    <p><span>linda</span> | <span>2016-10-17</span> | <span>核心网资料社区</span> </p>
                                </div>
                                <div class="xsh_cirlis_data">
                                    <span class="liuyanl">65465465</span>
                                    <span class="liulanl">6546546</span>
                                </div>
                            </li>
                            <li>
                                <div class="xsh_cirlis_logo">
                                    <a href="">
                                        <img src="http://img.dahe.cn/qf/2016/11/20/1941MZCD59.jpg" alt="加载不成功">
                                    </a>
                                </div>
                                <div class="xsh_cirlis_name">
                                    <h3 class="xsh_cirlis_cirname"><a href="">明明白白的了解自己的贡献是怎么来的</a></h3>
                                    <p><span>linda</span> | <span>2016-10-17</span> | <span>核心网资料社区</span> </p>
                                </div>
                                <div class="xsh_cirlis_data">
                                    <span class="liuyanl">65465465</span>
                                    <span class="liulanl">6546546</span>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <!--页码-->
                    <div class="xsh_page_box">
                        <ul>
                            <li class="xsh_pages_Previous"></li>
                            <li class="xsh_pages_hot">1</li>
                            <li>2</li>
                            <li>3</li>
                            <li>4</li>
                            <li>5</li>
                            <li>6</li>
                            <li>7</li>
                            <li>8</li>
                            <li>9</li>
                            <li>...</li>
                            <li class="xsh_pages_next"></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="xsh_con_right">
            <div class="xsh_interaction">
                <a href="" target="">
                    <div class="xsh_inter_cir_btn">
                        <span class="xsh_create_post">我要发帖</span>
                    </div>
                </a>
                <a href="" target="">
                    <div class="xsh_inter_cir_btn">
                        <span class="xsh_create_circle">创建圈子</span>
                    </div>
                </a>
            </div>
            <!--热门圈子-->
            <div class="xsh_interaction">
                <div class="xsh_intera_header xsh_con_right_header">
                    <h3>热门圈子</h3>
                    <div class="xsh_header_more"><a href="">更多<img src="{$_G[setting][jspath]}../zte/images/u76.png" alt=""></a></div>
                </div>
                <div class="xsh_circle_hitlis">
                    <ul>
                        <!--圈子-->
                        <li>
                            <div class="xsh_circle_logobox">
                                <div class="xsh_circle_logo">
                                    <a href="">
                                        <img src="http://img.dahe.cn/qf/2016/11/20/1941MZCD59.jpg" alt="加载不成功">
                                    </a>
                                </div>
                                <div class="xsh_circle_card">
                                    <div class="xsh_circle_name"><a href="">新手学习新手学习新手学习</a></div>
                                    <div class="xsh_circle_data">
                                        <div class="xsh_circle_num">成员:<span>46845</span></div>
                                        <div class="xsh_circle_cardnum">帖子:<span>5465</span></div>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <!--圈子-->
                        <li>
                            <div class="xsh_circle_logobox">
                                <div class="xsh_circle_logo">
                                    <a href="">
                                        <img src="http://img.dahe.cn/qf/2016/11/20/1941MZCD59.jpg" alt="加载不成功">
                                    </a>
                                </div>
                                <div class="xsh_circle_card">
                                    <div class="xsh_circle_name"><a href="">新手学习新手学习新手学习</a></div>
                                    <div class="xsh_circle_data">
                                        <div class="xsh_circle_num">成员:<span>46845</span></div>
                                        <div class="xsh_circle_cardnum">帖子:<span>5465</span></div>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <!--圈子-->
                        <li>
                            <div class="xsh_circle_logobox">
                                <div class="xsh_circle_logo">
                                    <a href="">
                                        <img src="http://img.dahe.cn/qf/2016/11/20/1941MZCD59.jpg" alt="加载不成功">
                                    </a>
                                </div>
                                <div class="xsh_circle_card">
                                    <div class="xsh_circle_name"><a href="">新手学习新手学习新手学习</a></div>
                                    <div class="xsh_circle_data">
                                        <div class="xsh_circle_num">成员:<span>46845</span></div>
                                        <div class="xsh_circle_cardnum">帖子:<span>5465</span></div>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
<!--{template common/footer}-->