<div class="bm">
    <div class="bm_c">
        <div class="xsh_fatie">
            <a href="javascript:;" onclick="showWindow('newthread', 'forum.php?mod=post&action=newthread&fid=$_G[fid]')"><img src="/static/zte/images/u843.png" alt=""><span>我要发帖</span></a>
        </div>
    </div>
</div>

<link rel="stylesheet" href="/static/zte/css/style.css">
<div class="bm bm1">
    <div class="xsh_interaction">
        <div class="xsh_intera_header xsh_con_right_header">
            <h3>热门圈子</h3>
        </div>
        <div class="xsh_circle_hitlis">
            <ul>
                <!--圈子-->
                <!--{loop $topgrouplist $fid $group}-->
                <li>
                    <div class="xsh_circle_logobox">
                        <div class="xsh_circle_logo">
                            <a href="forum.php?mod=forumdisplay&action=list&fid=$group[fid]">
                                <img src="$group[icon]" alt="加载不成功">
                            </a>
                        </div>
                        <div class="xsh_circle_card">
                            <div class="xsh_circle_name"><a href="forum.php?mod=forumdisplay&action=list&fid=$group[fid]">$group[name]</a></div>
                            <div class="xsh_circle_data">
                                <div class="xsh_circle_num">成员:<span>$group[membernum]</span></div>
                                <div class="xsh_circle_cardnum">帖子:<span>$group[posts]</span></div>
                            </div>
                        </div>
                    </div>
                </li>
                <!--{/loop}-->
            </ul>
        </div>
    </div>

</div>
<div class="bm bm1">
    <div class="xsh_interaction">
        <div class="xsh_intera_header xsh_con_right_header">
            <h3>推荐圈子</h3>

        </div>
        <div class="xsh_circle_hitlis">
            <ul>
                <!--圈子-->
                <!--{loop $group_recommend $fid $group}-->
                <li>
                    <div class="xsh_circle_logobox">
                        <div class="xsh_circle_logo">
                            <a href="">
                                <img src="$group[icon]" alt="加载不成功">
                            </a>
                        </div>
                        <div class="xsh_circle_card">
                            <div class="xsh_circle_name"><a href="forum.php?mod=forumdisplay&action=list&fid=$group[fid]">$group[name]</a></div>
                            <div class="xsh_circle_data">
                                <div class="xsh_circle_num">成员:<span>$group[membernum]</span></div>
                                <div class="xsh_circle_cardnum">帖子:<span>$group[posts]</span></div>
                            </div>
                        </div>
                    </div>
                </li>
                <!--{/loop}-->
            </ul>
        </div>
    </div>

</div>