<!--{template common/header}-->

<link rel="stylesheet" href="{$_G[setting][jspath]}../zte/css/style.css">
    <link rel="stylesheet" href="{$_G[setting][jspath]}../zte/css/reset.css">
    
    <style>
        .xsh_con_left{background: none;padding: 0;}
    </style>
    
    
<div class="xsh_box">
    <div class="xsh_box">
    <!--con-->
    <div class="xsh_content_box">
        <div class="xsh_con_left">
            <div class="xsh_tab xsh_circle_tabbox">
                <!--我加入的圈子-->
                <div class="xsh_circle_box">
                    <div class="xsh_circle_header">
                        <ul>
                            <li class="xsh_circle_hot">我加入的圈子</li>
                            <li>我加入的圈子</li>
                            <li>全部圈子</li>
                        </ul>
                    </div>
                    <div class="xsh_circle_content">
                        <ul>
                        	
                        	<!--{loop $grouplist_join $group}-->
                            <!--圈子-->
                            <li>
                                <div class="xsh_circle_logobox">
                                    <div class="xsh_circle_logo">
                                        <a href="">
                                            <img src="http://img.dahe.cn/qf/2016/11/20/1941MZCD59.jpg" alt="加载不成功">
                                        </a>
                                    </div>
                                    <div class="xsh_circle_card">
                                        <div class="xsh_circle_name"><a href="">$group['name']</a></div>
                                        <div class="xsh_circle_data">
                                            <div class="xsh_circle_num">成员:<span>$group_user_count_arr[$group['fid']]</span></div>
                                            <div class="xsh_circle_cardnum">帖子:<span>$group['posts']</span></div>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            
                            <!--{/loop}-->
                            
                        </ul>
                    </div>
                </div>
            </div>
            <div class="xsh_circle_content">
                <div class="xsh_circle_conbox">
                    <form action="" method="" target="" name="" class="xsh_circle_form">
                        <select name="主题" id="12">
                            <option value="">全部主题</option>
                            <option value="">全部主题</option>
                            <option value="">全部主题</option>
                        </select>
                        <select name="排序" id="32">
                            <option value="">全部主题</option>
                            <option value="">全部主题</option>
                            <option value="">全部主题</option>
                        </select>
                    </form>
                    <!--list-->
                    <div class="xsh_circle_list">
                        <ul>
                        	<!--{if $_G['forum_threadcount']}-->
                        	<!--{loop $_G['forum_threadlist'] $key $thread}-->
                            <li>
                                <div class="xsh_cirlis_logo">
                                    <a href="">
                                        <img src="http://img.dahe.cn/qf/2016/11/20/1941MZCD59.jpg" alt="加载不成功">
                                    </a>
                                </div>
                                <div class="xsh_cirlis_name">
                                	<!--{if $thread[folder] == 'lock'}-->
										<img src="{IMGDIR}/folder_lock.gif" />
									<!--{elseif $thread['special'] == 1}-->
										<img src="{IMGDIR}/pollsmall.gif" alt="{lang thread_poll}" />
									<!--{elseif $thread['special'] == 2}-->
										<img src="{IMGDIR}/tradesmall.gif" alt="{lang thread_trade}" />
									<!--{elseif $thread['special'] == 3}-->
										<img src="{IMGDIR}/rewardsmall.gif" alt="{lang thread_reward}" />
									<!--{elseif $thread['special'] == 4}-->
										<img src="{IMGDIR}/activitysmall.gif" alt="{lang thread_activity}" />
									<!--{elseif $thread['special'] == 5}-->
										<img src="{IMGDIR}/debatesmall.gif" alt="{lang thread_debate}" />
									<!--{elseif in_array($thread['displayorder'], array(1, 2, 3, 4))}-->
										<img src="{IMGDIR}/pin_$thread[displayorder].gif" alt="$_G[setting][threadsticky][3-$thread[displayorder]]" />
									<!--{else}-->
										<img src="{IMGDIR}/folder_$thread[folder].gif" />
									<!--{/if}-->
                                    <h3 class="xsh_cirlis_cirname"><a href="forum.php?mod=viewthread&tid=$thread[tid]&extra=$extra"$thread[highlight] class="xst">$thread[subject]</a></h3>
                                    <p><span>
                                    	<!--{if $thread['authorid'] && $thread['author']}-->
										<a href="home.php?mod=space&uid=$thread[authorid]">$thread[author]</a><!--{if !empty($verify[$thread['authorid']])}-->$verify[$thread[authorid]]<!--{/if}-->
									<!--{else}-->
										<!--{if $_G['forum']['ismoderator']}-->
											<a href="home.php?mod=space&uid=$thread[authorid]">{lang anonymous}</a>
										<!--{else}-->
											{lang anonymous}
										<!--{/if}-->
									<!--{/if}-->
                                    	
                                    </span> | <span>
                                    	$thread[dateline]
                                    </span> | <span>核心网资料社区</span> </p>
                                </div>
                                <div class="xsh_cirlis_data">
                                    <span class="liuyanl">$thread[allreplies]</span>
                                    <span class="liulanl">$thread[views]</span>
                                </div>
                            </li>
                            <!--{/loop}-->
                            <!--{else}-->
								<p class="emp">{lang forum_nothreads}</p>
							<!--{/if}-->	
                            
                            
                        </ul>
                    </div>
                    <!--页码-->
                    <div class="xsh_page_box">
                        <ul>
                            <li class="xsh_pages_Previous"></li>
                            <li class="xsh_pages_hot">1</li>
                            <li>2</li>
                            <li>3</li>
                            <li>4</li>
                            <li>5</li>
                            <li>6</li>
                            <li>7</li>
                            <li>8</li>
                            <li>9</li>
                            <li>...</li>
                            <li class="xsh_pages_next"></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="xsh_con_right">
            <div class="xsh_interaction">
                <a href="" target="">
                    <div class="xsh_inter_cir_btn">
                        <span class="xsh_create_post">我要发帖</span>
                    </div>
                </a>
                <a href="" target="">
                    <div class="xsh_inter_cir_btn">
                        <span class="xsh_create_circle">创建圈子</span>
                    </div>
                </a>
            </div>
            <!--热门圈子-->
            <div class="xsh_interaction">
                <div class="xsh_intera_header xsh_con_right_header">
                    <h3>热门圈子</h3>
                    <div class="xsh_header_more"><a href="">更多<img src="{$_G[setting][jspath]}../zte/images/u76.png" alt=""></a></div>
                </div>
                <div class="xsh_circle_hitlis">
                    <ul>
                        <!--圈子-->
                        <li>
                            <div class="xsh_circle_logobox">
                                <div class="xsh_circle_logo">
                                    <a href="">
                                        <img src="http://img.dahe.cn/qf/2016/11/20/1941MZCD59.jpg" alt="加载不成功">
                                    </a>
                                </div>
                                <div class="xsh_circle_card">
                                    <div class="xsh_circle_name"><a href="">新手学习新手学习新手学习</a></div>
                                    <div class="xsh_circle_data">
                                        <div class="xsh_circle_num">成员:<span>46845</span></div>
                                        <div class="xsh_circle_cardnum">帖子:<span>5465</span></div>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <!--圈子-->
                        <li>
                            <div class="xsh_circle_logobox">
                                <div class="xsh_circle_logo">
                                    <a href="">
                                        <img src="http://img.dahe.cn/qf/2016/11/20/1941MZCD59.jpg" alt="加载不成功">
                                    </a>
                                </div>
                                <div class="xsh_circle_card">
                                    <div class="xsh_circle_name"><a href="">新手学习新手学习新手学习</a></div>
                                    <div class="xsh_circle_data">
                                        <div class="xsh_circle_num">成员:<span>46845</span></div>
                                        <div class="xsh_circle_cardnum">帖子:<span>5465</span></div>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <!--圈子-->
                        <li>
                            <div class="xsh_circle_logobox">
                                <div class="xsh_circle_logo">
                                    <a href="">
                                        <img src="http://img.dahe.cn/qf/2016/11/20/1941MZCD59.jpg" alt="加载不成功">
                                    </a>
                                </div>
                                <div class="xsh_circle_card">
                                    <div class="xsh_circle_name"><a href="">新手学习新手学习新手学习</a></div>
                                    <div class="xsh_circle_data">
                                        <div class="xsh_circle_num">成员:<span>46845</span></div>
                                        <div class="xsh_circle_cardnum">帖子:<span>5465</span></div>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
<!--{template common/footer}-->