body{background:  rgba(242, 242, 242, 1);}
#wp,#ct{width: 960px;margin: auto;}
.ct2 .mn{width: 680px;background: #ffffff;border-radius: 10px;}
.mn{padding: 0 10px;}
.ct2 .sd{width: 246px;margin-right: 0;}
.bm_h,.tl .th{background: #ffffff;}
.bm,.pgb{border: none;}
.xsh_syn{width: 80%;position: relative;}
.xsh_signout_btn{width: 20%;position: absolute;top: -100%;right: -15%;}
.fa_ivt,.ptm{background-image: none;padding: 10px 0;border-radius: 5px;background: #5597ED;color: #ffffff;width: 100%;display: block;text-align: center;}
.fa_ivt>.xi2{color: #ffffff;}
.pn{color: #ffffff;background: none;border: none;box-shadow: none;-webkit-box-shadow:none;}
.ptn{text-align: center;margin-top: 10px;}
.xsh_circle_img{margin-right: 3px;transform: translateY(5px);-webkit-transform: translateY(5px);-moz-transform: translateY(5px);-o-transform: translateY(5px);   -ms-transform: translateY(5px);}
.mbm,.pgb{display: none;}
.ttp{padding: 30px 10px;background: #EEEEEE;border-radius: 0!important;}
.ttp>li{font-size: 16px;margin-top: 15px;}
.ttp .xsh_hlyqx{float: right;}
.ttp .xsh_hlyqx>a{background: #5597ED;color: #ffffff;}
.ttp a{border: none;}
.bm_c,.bm,.xsh_interaction{overflow: hidden;border-radius: 10px;}
.m{border-radius: 5px;overflow: hidden;}
.m>img{border-radius: 5px;overflow: hidden;}
.o .pn{color: #000000 !important;}
.xsh_circle_form>select{margin: 10px 15px 0 0!important;}
#pgt{display: none;}
.xsh_user_logo{width: 60px;height: 60px;overflow: hidden;border-radius: 50%;display: block;margin: 15px 0;}
.xsh_user_logo>img{width: 100%;height: 100%;border-radius: 50%;}
.tl .icn{width: 70px;}
.mtm{color: #333333!important;}
/**/
.xsh_user_datas{color: #CCCCCC;margin-top: 10px;}
.xsh_user_datas>span{margin-right: 5px;}
.xsh_user_datas>span>a{color: #CCCCCC;}
.xsh_user_datas>span>a:hover{cursor: pointer;}
.xst{font-size: 16px;}
.tl th{width: 470px;}
.liulanl{background: url("/static/zte/images/liulannum_03.jpg") no-repeat left;background-size: 16px;padding-left: 18px;}
.liuyanl{background: url("/static/zte/images/liuyannum_03.jpg") no-repeat left;background-size: 16px;padding-left: 18px;}
.liulanl,.liuyanl{margin-right: 5px;}
.pg{width: 90%;}
.xsh_pages{margin-bottom: 50px;}
/*浮层*/
.bm_c, .bm{overflow: visible;}
.icn{position: relative;}
.xsh_user_groupdata{width: 180px;height: auto;padding: 20px 10px;border-radius: 10px;position: absolute;top: 50%;left: 70px;background: #ffffff;border: 2px solid #5597ED;margin: auto;line-height: 30px;font-size: 14px;transform: translateY(-50%);  -webkit-transform: translateY(-50%);  -moz-transform: translateY(-50%); -ms-transform: translateY(-50%);  -o-transform: translateY(-50%);  display: none;}
.xsh_user_groupdata>p{border-bottom: 1px solid #CCCCCC;overflow: hidden;}
.xsh_user_groupdata>p>span{display: block;float: left;}
.xsh_user_group_title{width: 4em;}
.pg a, .pg strong, .pgb a, .pg label{padding: 0 10px;height: 35px;font-size: 16px;border-radius: 5px;line-height: 35px;}
/**/
.bm_c>.xsh_fatie{width: 80%;height: auto;padding: 10px;background: #5597ED;margin: auto;border-radius: 5px;}
.bm_c>.xsh_fatie>a{display: block;width: 80%;margin: auto;color: #ffffff;font-size: 16px;font-size: 20px;font-weight: 900;}
.bm_c>.xsh_fatie>a>img{margin-left: 10px;}
.bm_c>.xsh_fatie>a>span{float: right;margin-top: 10px;}