.flb{font-size: 24px;text-align: center;font-weight: 500;}
.rfm>table>tbody>tr .xsh_gsbqselect{padding: 0;}
.rfm .xsh_gsbqselect select{width: 365px;height: 48px;border-left: 1px solid #E0E0E0!important;}
select{border-left: none;}
.xsh_btnL{float: left;}
.xsh_btnR{float: right;}
.p_fre{width: 460px!important;}
/**/
#append_parent{position: fixed;width: 100%;height: 100%;background: rgba(0,0,0,0.5);z-index: 9;}