.xsh_reginfo_title{text-align: center;font-size: 28px;margin-bottom: 20px;}
.xsh_reginfo_title>h3{font-weight: 400;}
.rfm{border: none;}
.rfm input{font-size: 16px;font-family: '微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';}
.rfm .px{width: 450px;height: 42px;padding-left: 1em;}
.rfm select{width: 367px;height: 48px;font-size: 16px;margin-left: -4px;margin-top: -1px;}
.xsh_select_title{border: 1px solid;border-color: #E0E0E0;font-size: 16px;padding: 11px 32px 14px 39px;background: #FFF url(http://localhost/static/image/common/px.png) repeat-x 0 0;}
.xsh_yzm td .xi2,.xsh_yzm td br{display: none;}
.xsh_yzm th{color: #ffffff;}
.xsh_yzm th>span{float: right;margin-top: 20px;}
.xsh_yzm td span{color: rgba(255,255,255,0);margin-left: -50px;}
.xsh_yzm td input{width: 310px!important;}
/*.xsh_yzm td img{height: 100%;}*/
.px, .pt, .ps, select{border: 1px solid;border-color: #E0E0E0;}
.xsh_reload{float: right;padding-top: 15px;margin-left: 5px;}
.xsh_reload>img{width: 20px;}
/*button*/
.pnc, a.pnc{width: 472px;height: 45px;font-size: 16px;background: #5597ED;border: none;}

#registerformsubmit>strong{font-weight: normal;font-family: '微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';}