.xsh_hot{color: #5597ED;}
.xue_header{background: #5597ED;color: #DADADA;line-height: 36px;border: 0;width: 100%;min-width: 100%;height: 36px;}
.xue_header_margin{width: 960px;height: 100%;margin: auto;}
.xsh_header_search{float: left;}
.xsh_form{padding: 5px;}
.search{float: left;height: 19px;padding: 2px 5px;width: 160px;border: 1px solid #ABABAB;border-radius: 5px 0 0 5px;}
.searchsubmit{float: left;font-size: 0;text-indent: -9999px;width: 28px;height: 25px;background: url(http://forum.h3c.com/template/h3c/images/icon.png) no-repeat 0 0;border: 0;}
.tell{float: right;}
.xsh_navbox{width: 100%;margin: auto;background: #ffffff;border-bottom: 1px solid #eee;padding: 20px 0;}
.xsh_nav{;width: 960px;height: 100%;margin: auto;/*overflow: hidden;*/display: table;}
.xsh_nav_logo{max-width: 120px;height: 40px;;overflow: hidden;float: left;margin-right: 30px;}
.xsh_nav_logo>img{height: 100%;}
.xsh_nav_navtext{float: left;max-width: 700px;}
.xsh_nav_navtext>ul>li{float: left;font-size: 16px;margin: 0 15px;height: 40px;line-height: 40px;}
.xsh_nav_navtext>ul>li:hover{cursor: pointer;}
.nav_hot{color: #5597ED;}
.login,.xsh_user_box{width: 100px;float: right;height: 40px;line-height: 40px;font-size: 16px;}
.login>a{float: left;}
.login_span{width: 1px;height: 50%;background: #333;float: left;margin: 10px 10px;}
.xsh_user_box{width: 150px;position: relative;}
.xsh_user_logobox{width: 40px;height: 40px;border-radius: 50%;overflow: hidden;float: left;}
.xsh_user_logobox>img{width: 100%;height: 100%;border-radius: 50%;}
.xsh_user_namebox{width: 100px;float: left;font-size: 16px;line-height: 40px;margin-left: 10px;position: relative;}
.xsh_xiala{width: 17px;height: 11px;position: absolute;right: 0;top: 14px;}
.xsh_xiala>img{width: 100%;}
.xsh_user_namebox:hover{cursor: pointer;}
.xsh_user_data{width: 250px;height: auto;position: absolute;left: -130px;top: 40px;background: #ffffff;padding: 20px 15px;z-index: 999;border: 2px solid #5597ED;display: none;border-radius: 10px;}
.xsh_user_data_jf{border-bottom: 1px solid #cccccc;}
.xsh_user_data_jf>span{margin: 15px;}
.xsh_user_data_kp>ul>a>li{float: left;padding: 5px 20px;background: #5597ED;color: #ffffff;border-radius: 8px;font-size: 12px;line-height: 20px;margin: 20px 15px 0 0;}
/**/
.xsh_box{width: 960px;height: auto;margin: auto;}
/*轮播图长最大960px  高最大380px;*/
.xsh_carousel{width: 100%;height: 380px;border-radius: 10px;background: #eee;margin-top: 10px;overflow: hidden;position: relative;}
.xsh_carimg{width: 100%;height: 100%;position: absolute;overflow: hidden;display: none;}
.xsh_car_now{display: block;}
.xsh_car{display: block;width: 100%;height: 100%;max-width: 960px;max-height: 380px;margin: auto;}
.xsh_car_button{width: 29px;height: 50px;position: absolute;display: none;}
.xsh_car_buttonl{left: 20px;top: 0;bottom: 0;margin: auto;background: url("/static/zte/images/u440.png") center no-repeat;}
.xsh_car_buttonl:hover{cursor: pointer;}
.xsh_car_buttonr{right: 20px;top: 0;bottom: 0;margin: auto;background: url("/static/zte/images/u438.png") center no-repeat;}
.xsh_car_buttonr:hover{cursor: pointer;}
.xsh_car_radbox{display: none;position: absolute;bottom: 20px;width: auto;height: 15px;left: 50%;transform: translateX(-50%);-webkit-transform: translateX(-50%);}
.xsh_car_radius{width: 15px;height: 15px;border-radius: 50%;background: url("/static/zte/images/u432.png") center no-repeat;overflow: hidden;margin: 0 5px;float: left;}
.xsh_car_radius:hover{cursor: pointer;}
.xhs_car_hot{background: url("/static/zte/images/u434.png")}
/*主体内容*/
.xsh_content_box{width: 100%;height: auto;margin-top: 40px;display: block;}
.xsh_con_left{width: 700px;border-radius: 10px;padding: 30px 0;background: #ffffff;}
.xsh_con_right{width: 246px;margin-left: 14px;}
.xsh_con_right>div{border-radius: 10px;overflow: hidden;margin-bottom: 10px;}
.xsh_con_left,.xsh_con_right{height: auto;float: left;}
/*tab*/
.xsh_tab_header{font-family: '微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';font-size: 18px;margin: 0 20px;}
.xsh_tab_title{float: left;margin-right: 30px;display: block;padding-bottom: 5px;border: 2px solid #ffffff;height: 25px;margin-bottom: 30px;}
.xsh_tab_title:hover{cursor: pointer;}
.xsh_tab_title_hot{color: #0186D1;font-weight: 900;border-bottom: 2px solid #0186D1;}
.xsh_tab_content{margin:  0 20px;}
.xsh_tab_con{display: none;}
.xsh_tab_now{display: block;}
.xsh_tab_conbox{width: 100%;height: 150px;margin-top: 25px;overflow: hidden;}
.xsh_tab_img,.xsh_tab_writing{height: 100%;float: left;}
.xsh_tab_img{width: 230px;height: 150px;border-radius: 8px;overflow: hidden;}
.xsh_tab_img img{width: 100%;height: 100%;}
.xsh_tab_writing{width: 400px;margin-left: 20px;overflow: hidden;line-height: 30px;}
.xsh_tab_contitle{font-size: 20px;font-weight: 600;color: #333333;}
.xsh_tab_concise{color: #666666;font-size: 14px;position: relative;}
.xsh_tab_more>a{color: #5597ED;}
.xsh_tab_more>a>img{transform: translateY(2px);-webkit-transform: translateY(2px);margin-left: 3px;}
.xsh_tab_time{color: #909596;font-size: 12px;}
.xsh_tab_time>span{margin-right: 30px;}
.liulanl{background: url("/static/zte/images/liulannum_03.jpg") no-repeat left;background-size: 16px;padding-left: 18px;}
.liuyanl{background: url("/static/zte/images/liuyannum_03.jpg") no-repeat left;background-size: 16px;padding-left: 18px;}
.main_group{background: url("/static/zte/images/u1249.png") no-repeat left;background-size: 16px;padding-left: 18px;}
.integral{background: url("/static/zte/images/u1245.png") no-repeat left;background-size: 16px;padding-left: 18px;}
.member{background: url("/static/zte/images/u1251.png") no-repeat left;background-size: 16px;padding-left: 18px;}
/*页码*/
.xsh_page_box{margin: 80px 0 30px 0;width: 100%;height: 35px;overflow: hidden;}
.xsh_page_box>ul{margin-left: 50px;}
.xsh_page_box>ul>li{width: 30px;height: 30px;text-align: center;line-height: 30px;font-size: 16px;border: 1px solid #5597ED;border-radius: 5px;float: left;margin-right: 2px;}
.xsh_page_box>ul>.xsh_pages_hot{border-color: #ffffff;}
.xsh_page_box>ul>li:hover{cursor: pointer;}
.xsh_pages_Previous{background: url("/static/zte/images/u98.png") no-repeat center;}
.xsh_pages_next{background: url("/static/zte/images/u99.png") no-repeat center;}
/*互动专栏*/
.xsh_interaction{background: #ffffff;}
.xsh_intera_header,.xsh_intera_content>ul>a>li{height: 50px;line-height: 50px;padding-left: 15px;}
.xsh_intera_header{font-size: 18px;font-weight: 900;}
.xsh_intera_content>ul>a>li{border: 1px solid #eee;;width: 107px;float: left;border-left: 1px solid rgba(255,255,255,0);margin-right: -1px;margin-bottom: -1px;}
.xsh_intera_logo,.xsh_intera_text{float: left;display: block;line-height: 50px;font-size: 14px;}
.xsh_intera_logo{width: 25px;height: 25px;margin-right: 10px;margin-top: 8px;}
.xsh_intera_logo>img{width: 100%;height: 100%;}
/*专家互动*/
.xsh_con_right_header{border-bottom: 1px solid #eee;position: relative;}
.xsh_expert>ul>li{width: 100%;height: 76px;border-top: 1px solid #eee;margin-top: -1px;padding: 15px 0;}
.xsh_expert_sort_first{color: #ff0000;}
.xsh_expert_sort_two{color: #00cc00;}
.xsh_expert_sort_three{color: #0186d1;}
.xsh_expert_sort,.xsh_expert_name,.xsh_expert_add{float: left;}
.xsh_expert_sort{width: 50px;}
.xsh_expert_sort>.xsh_expert_sort_num{width: 25px;height: 25px;display: block;color: #ffffff;text-align: center;font-size: 16px;background: url("/static/zte/images/u346.png") no-repeat center;margin: 10px auto;}
.xsh_expert_sort_first>.xsh_expert_sort>.xsh_expert_sort_num{background: url("/static/zte/images/u308.png") no-repeat center;}
.xsh_expert_sort_two>.xsh_expert_sort>.xsh_expert_sort_num{background: url("/static/zte/images/u316.png") no-repeat center;}
.xsh_expert_sort_three>.xsh_expert_sort>.xsh_expert_sort_num{background: url("/static/zte/images/u318.png") no-repeat center;}
.xsh_expert_name{width: 80px;/*overflow: hidden*/;position: relative;display: table;}
.xsh_expert_name>a>.xsh_expert_logo{width: 46px;height: 46px;border-radius: 50%;overflow: hidden;background: #EEEEEE;margin: auto;}
.xsh_expert_name>a>.xsh_expert_logo>img{width: 100%;height: 100%;border-radius: 50%;overflow: hidden;}
.xsh_expert_name>a>.xsh_expert_user{text-align: center;width: 100%;font-size: 14px;margin-top: 15px;color: #000000;}
.xsh_expert_add{width: 116px;overflow: hidden;}
.xsh_expert_integral{font-size: 14px;}
.xsh_expert_addbtn{width: 70px;height: 25px;border-radius: 5px;border: 2px solid #5597ED;margin: 15px auto;}
.xsh_expert_addbtn>a{display: block;font-size: 15px;text-align: center;line-height: 25px;color: #5597ED;}
/*浮层*/
.xsh_con_right>.xsh_interaction_te{overflow: visible;display: table;}
.xsh_expert_cad{width: 210px;position: absolute;left: -210px;top: 50%;z-index: 999;background: #ffffff;font-size: 14px;border: 2px solid #5597ED;border-radius: 10px;padding-top: 20px;transform: translateY(-50%);-webkit-transform: translateY(-50%);-moztransform: translateY(-50%);-o-transform: translateY(-50%);-ms-transform: translateY(-50%);-mso-transform: translateY(-50%);display: none;}
.xsh_expert_cad>ul>li{;color: #666666;line-height: 20px;margin-bottom: 15px;border-bottom: 1px solid #CCCCCC;padding: 2px 10px;position: relative;overflow: hidden;}
.xsh_expert_cad>ul>li>h3{width: 5em;float: left;}
.xsh_expert_cad>ul>li>span{display: block;float: left;margin-left: em;}
/*专家互动弹窗*/
.xsh_expert_box{position: absolute;width: 100%;height: 100%;position: fixed;top: 0;background: rgba(255,255,255,0.8);display: none;}
.xsh_expert_box>.xsh_expert{width: 756px;height: auto;margin: auto;border: 3px solid #5597ED;border-radius: 10px;background: #ffffff;position: absolute;top: 50%;left: 50%;transform: translate(-50%,-50%);-webkit-transform: translate(-50%,-50%);-o-transform: translate(-50%,-50%);-ms-transform: translate(-50%,-50%);-moz-transform: translate(-50%,-50%);-ms-transform: translate(-50%,-50%);}
.xsh_expert_form_header{width: 100%;height: 80px;font-size: 24px;text-align: center;line-height: 80px;border-bottom: 1px solid #cccccc;}
.xsh_expert_form{padding: 20px;}
.xsh_expert_radio{overflow: hidden;font-size: 14px;}
.xsh_expert_form>h3{font-size: 18px;height: 30px;line-height: 30px;margin-bottom: 15px;}
.xsh_expert_radio>label{display: block;float: left;margin-right: 15px;margin-bottom: 20px;}
.xsh_expert_textarea{border: 1px solid #CCCCCC;border-radius: 5px;padding: 2px;}
.xsh_expert_textarea>textarea{border: none;font-size: 12px;width: 100%;}
.xsh_expert_form_submit{font-size: 22px;color: #ffffff;background: #5597ED;position: relative;left: 80%;width: 130px;height: 50px;text-align: center;line-height: 50px;border-radius: 10px;display: block;margin-top: 20px;}
.xsh_input_submit{width: 130px;height: 50px;background: none;border: none;}
/*积分兑换*/
.xsh_integral{font-size: 14px;line-height: 35px;text-align: center;color: #666666;}
.xsh_header_more{position: absolute;right: 10px;top: 0;}
.xsh_header_more>a{color: #5597ED;font-size: 16px;}
/*下载中兴这区APP*/
.xsh_download>img{display: block;margin: 30px auto;}
/*友情链接*/
.xsh_link>ul>li{color: #666666;font-size: 14px;float: left;width: 107px;height: 20px;border-left: 1px solid #666666;border-right: 1px solid #ffffff;text-align: center;margin: 10px 0 10px -1px;}
/*底部*/
.xsh_foot{background: #5597ED;width: 100%;float: left;margin-top: 50px;color: #ffffff;text-align: center;font-size: 14px;line-height: 25px;padding: 10px 0;}
.xsh_foot a{color: #ffffff;}
/**/
.xsh_circle_tabbox{background: #ffffff;border-radius: 10px;overflow: hidden;padding-bottom: 50px;}
.xsh_circle_header{width: 90%;height: auto;font-size: 18px;overflow: hidden;border-bottom: 1px solid #eee;margin: auto;padding: 20px 0;}
.xsh_circle_header>ul>li{height: 30px;float: left;margin-right: 15px;}
.xsh_circle_header>ul>li:hover{cursor: pointer;}
.xsh_circle_header>ul>.xsh_circle_hot{border-bottom: 2px solid #5597ED;color: #5597ED;}
.xsh_circle_content>ul{width: 90%;margin: auto;}
.xsh_circle_logobox{width: 280px;height: 60px;overflow: hidden;float: left;margin: 30px 30px 0 0;}
.xsh_circle_logo{width: 60px;height: 60px;overflow: hidden;border-radius: 10px;float: left;}
.xsh_circle_logo>a>img{width: 100%;height: 100%;border-radius: 10px;}
.xsh_circle_card{width: 200px;height: 100%;float: left;overflow: hidden;margin-left: 20px;line-height: 30px;}
.xsh_circle_name,.xsh_circle_data{width: 100%;height: 30px;font-size: 18px;overflow: hidden;}
.xsh_circle_num,.xsh_circle_cardnum{width: 50%;height: 100%;float: left;font-size: 15px;color: #CCCCCC;}
/**/
.xsh_circle_content{background: #ffffff;border-radius: 10px;margin-top: 10px;padding-bottom: 50px;}
.xsh_circle_conbox{width: 90%;margin: auto;}
.xsh_circle_form{display: block;padding-bottom: 30px;border-bottom: 1px solid #eee;}
.xsh_circle_form>select{width: 100px;height: 30px;font-size: 18px;margin: 30px 15px 0 0;}
.xsh_circle_list{width: 100%;height: auto;}
.xsh_circle_list>ul>li{width: 100%;height: 50px;border-bottom: 1px solid #eee;overflow: hidden;padding: 20px 0;}
.xsh_cirlis_logo{width: 50px;height: 50px;border-radius: 50%;overflow: hidden;float: left;}
.xsh_cirlis_logo>a>img{width: 100%;height: 100%;border-radius: 50%;}
.xsh_cirlis_name{width: auto;height: 100%;line-height: 25px;float: left;margin-left: 15px;}
.xsh_cirlis_cirname{font-size: 18px;height: 50%;}
.xsh_cirlis_name>p{color: #CCCCCC;font-size: 12px;}
.xsh_cirlis_data{float: right;line-height: 50px;}
.xsh_inter_cir_btn{background: #5597ED;border-radius: 10px;margin: 20px;padding: 10px;text-align: center;}
.xsh_create_post,.xsh_create_circle{height: 42px;width: auto;font-size: 20px;color: #ffffff;line-height: 42px;font-weight: 900;padding-left: 30px;}
.xsh_create_post{background: url("/static/zte/images/u843.png") no-repeat; background-size: contain;}
.xsh_create_circle{background: url("/static/zte/images/u889.png") no-repeat;background-size: contain;}
.xsh_circle_hitlis  .xsh_circle_logobox{width: 90%;height: 45px;overflow: hidden;margin: 10px;}
.xsh_circle_hitlis  .xsh_circle_logo{width: 45px;height: 45px;overflow: hidden;border-radius: 10px;float: left;}
.xsh_circle_hitlis .xsh_circle_logo>a>img{width: 100%;height: 100%;border-radius: 10px;}
.xsh_circle_hitlis .xsh_circle_card{width: 156px;height: 100%;float: left;overflow: hidden;margin-left: 10px;line-height: 20px;}
.xsh_circle_hitlis .xsh_circle_name,.xsh_circle_data{width: 100%;height: 20px;font-size: 16px;overflow: hidden;}
.xsh_circle_hitlis .xsh_circle_num,.xsh_circle_cardnum{width: 50%;height: 100%;float: left;font-size: 12px;color: #CCCCCC;}