body{background: rgba(242, 242, 242, 1);}
.wp{width: 960px;text-align: left;}
.pls,.bm{background-color: transparent;}
#postlist{width: 700px;position: relative;}
.pls .favatar{background: #ffffff;border-radius: 10px;padding: 20px 0;}
.xsh_pls{position: absolute;right: -270px;;top:130px;background: #ffffff;width: 250px;border-radius: 10px;border: none;padding: 20px 0;}
.xsh_position{top: 0;height: 75px;padding: 20px;width: 210px;}
.xsh_circle_message{float: left;}
.xsh_circle_name{font-size: 16px;color: #000000;font-weight: 600;line-height: 25px;}
.integral,.member{font-size: 12px;color: #CCCCCC;}
.liulanl{background: url("/static/zte/images/liulannum_03.jpg") no-repeat left;background-size: 16px;padding-left: 18px;}
.liuyanl{background: url("/static/zte/images/liuyannum_03.jpg") no-repeat left;background-size: 16px;padding-left: 18px;}
.main_group{background: url("/static/zte/images/u1249.png") no-repeat left;background-size: 16px;padding-left: 18px;}
.integral{background: url("/static/zte/images/u1245.png") no-repeat left;background-size: 12px;padding-left: 18px;}
.member{background: url("/static/zte/images/u1251.png") no-repeat left;background-size: 12px;padding-left: 18px;}
.xsh_circle_logo{width: 60px;height: 60px;overflow: hidden;border-radius: 10px;float: left;margin-right: 10px;}
.xsh_circle_logo>img{width: 100%;height: 100%;border-radius: 10px;}
.pi{border-bottom: none;text-align: center;}
.pls .o .pm2{background: #5597ED;color: #ffffff;text-align: center;text-indent:0;font-size: 14px;height: 2em;line-height: 2em;font-weight: 600;}
.pm2>a{color: #ffffff;}
.pil{display: none;}
.xl2 li{width: 40%;margin: 0 5%;}
.pls .o .xsh_homepage{background: #fc6a21;}
/**/
#postlist{background: #ffffff;border-radius: 10px;border: none;}
.ad .pls,.ad .plc{background: #CCCCCC;height: 1px;}
.hm{text-align: right;}
.pi{height: auto;}
.authi>img{width: 60px;height: 60px;border-radius: 50%;margin-right: 30px;}
.xsh_favatar{position: absolute;left: 80px;/*top: 0;*/background: #ffffff;border: 1px solid #5597ED;border-radius: 5px;display: none;z-index: 999;}
tr,.xsh_plc{position: relative;}
.authi{text-align: left;}
.ad{display: none;}
.plhin{border-top: 1px solid #CCCCCC;}
#newspecial,#newspecialtmp{display: none;}
.pg,.pgb{float: none;}
.pgbtn>a{background: #ffffff;}
.pg a, .pg strong, .pgb a, .pg label{float: left; display: inline; margin-left: 4px; line-height: 30px; height: 30px; border: 1px solid; border-color: #5597ED; background-color: #FFF; background-repeat: no-repeat; color: #333;overflow: hidden;text-decoration: none;border-radius: 5px;font-size: 16px;}
#post_reply,#post_replytmp{margin-left: 25px;}
/**/
.t_fsz{min-height: 25px;}
#pgt,.pgb{display: none;}
.pgbtn{width: 700px;}
.pct{width: 90%;margin-left: 10%;}
/*回复*/
.xsh_reply{width: 80%;height: 62px;overflow: hidden;margin: auto;padding: 30px 0;}
.logobox{width: 60px;height: 60px;overflow: hidden;border-radius: 50%;float: left;}
.logobox>img{width: 100%;height: 100%;border-radius: 50%;}
.xsh_replytext{float: left;width: 480px;height: 100%;line-height: 60px;margin-left: 10px;border-top: 1px solid #CCCCCC;border-bottom: 1px solid #CCCCCC;color: #CCCCCC;}

