<div class="xsh_carousel">
    <!--图片-->
    <ul>
        <!--{loop $banner $ban}-->
        <a href="{$_G['setting'][$ban.'jump']}" target="_blank">
            <li class="xsh_carimg xsh_car_now">
                <img src="{$_G['setting'][$ban.'url']}" alt="{$ban}" title="{$_G['setting'][$ban.'title']}" class="xsh_car">
            </li>
        </a>
        <!--{/loop}-->
    </ul>
    <!--按钮-->
    <div class="xsh_car_buttonl xsh_car_button"></div>
    <div class="xsh_car_buttonr xsh_car_button"></div>
    <!--标识按钮-->
    <ul class="xsh_car_radbox">
        <!--{loop $banner $a $b}-->
        <!--{if $a != 0 }-->
        <li class="xsh_car_radius xhs_car_hot"></li>
        <!--{else}-->
        <li class="xsh_car_radius"></li>
        <!--{/if}-->
        <!--{/loop}-->
    </ul>
</div>
<script src="{$_G[setting][jspath]}../zte/js/jquery-1.11.3.min.js"></script>
<script src="{$_G[setting][jspath]}../zte/js/index.js"></script>