<form method="post" autocomplete="off" id="postform" action="forum.php?mod=post&amp;infloat=yes&amp;action=newthread&amp;fid=38&amp;extra=&amp;topicsubmit=yes&amp;jet=rmbplus" onsubmit="this.message.value = parseurl(this.message.value);ajaxpost('postform', 'return_newthread', 'return_newthread', 'onerror');return false;" fwin="newthread">
    <input type="hidden" name="formhash" id="formhash" value="ab8baa53" fwin="newthread">
    <input type="hidden" name="handlekey" value="newthread">
    <input name="subject" id="subject" class="px" value="" tabindex="21" style="width: 25em" fwin="newthread">
    <textarea rows="7" cols="80" name="message" id="postmessage" onkeydown="seditor_ctlent(event, '$(\'postsubmit\').click();')" tabindex="22" class="pt" fwin="newthread"></textarea>
    <button type="submit" id="postsubmit" class="pn pnc z" value="true" name="topicsubmit" tabindex="23" fwin="newthread"><span>发表帖子</span></button>
</form>