<script>if("$_G['setting']['newtab']" == 1) {target = '_blank'}else{var target='_self'} var typeid = '{$curType}';</script>
<div class="xsh_content_box">
    <div class="xsh_con_left">
        <div class="xsh_tab">
            <div class="xsh_tab_header">
                <ul>
                    <!--{loop $threadType $tt}-->
                    <li class="xsh_tab_title {if $curType == $tt['typeid']} xsh_tab_title_hot{/if}" id="{$tt['typeid']}">{$tt['name']}</li>
                    <!--{/loop}-->
                </ul>
            </div>
            <div class="xsh_tab_content">
                <div class="xsh_tab_con xsh_tab_now">
                    <ul>
                        <!--{loop $infoFlow $info}-->
                        <li class="xsh_tab_conbox">
                            <div class="xsh_tab_img">
                                <a href="forum.php?mod=viewthread&tid={$info['tid']}" <!--{if $_G['setting']['newtab']}-->target="_blank"<!--{else}-->target="_self"<!--{/if}-->>
                                    <img src="{$info['image']}" alt="{$info['subject']}" title="{$info['subject']}">
                                </a>
                            </div>
                            <div class="xsh_tab_writing">
                                <div class="xsh_tab_contitle">
                                    <a href="forum.php?mod=viewthread&tid={$info['tid']}" <!--{if $_G['setting']['newtab']}-->target="_blank"<!--{else}-->target="_self"<!--{/if}-->><p>{$info['subject']}</p></a>
                                </div>
                                <div class="xsh_tab_concise">
                                    <p>{$info['message']}
                                        <span class="xsh_tab_more"><a href="forum.php?mod=viewthread&tid={$info['tid']}" <!--{if $_G['setting']['newtab']}-->target="_blank"<!--{else}-->target="_self"<!--{/if}-->>全文<img src="{$_G['setting']['jspath']}../zte/images/u76.png" alt=""></a></span>
                                    </p>
                                </div>
                                <div class="xsh_tab_time">
                                    <span>{$info['dateline']}</span>
                                    <span class="liulanl">{$info['views']}</span>
                                </div>
                            </div>
                        </li>
                        <!--{/loop}-->
                    </ul>
                    <div class="xsh_page_box">
                        <ul>
                            <!--{$page}-->
                        </ul>
                    </div>
                </div>
                <!--{loop $threadType $tt}-->
                <div class="xsh_tab_con"><ul></ul></div>
                <!--{/loop}-->
            </div>
        </div>
    </div>
    <div class="xsh_con_right">
        <!--互动专栏-->
        <div class="xsh_interaction">
            <div class="xsh_intera_header">
                <h3>{$hdzl}</h3>
            </div>
            <div class="xsh_intera_content">
                <ul>
                    <!--{loop $subBk $bk}-->
                    <a href="javascript:;" onclick="expertInteraction({$bk['fid']})">
                        <li>
                            <span class="xsh_intera_logo"><img src="{$bk['icon']}" alt="{$bk['name']}"></span>
                            <span class="xsh_intera_text">{$bk['name']}</span>
                        </li>
                    </a>
                    <!--{/loop}-->
                </ul>
            </div>
        </div>
        <!--专家排行-->
        <div class="xsh_interaction xsh_interaction_te">
            <div class="xsh_intera_header xsh_con_right_header">
                <h3>专家排行</h3>
            </div>
            <div class="xsh_expert">
                <ul>
                    <!--{eval $i = 1}-->
                    <!--{loop $expertList $expert}-->
                    <li <!--{if $i == 1}-->class="xsh_expert_sort_first"<!--{elseif $i == 2}-->class="xsh_expert_sort_two"<!--{elseif $i == 3}-->class="xsh_expert_sort_three"<!--{/if}-->>
                        <div class="xsh_expert_sort">
                            <span class="xsh_expert_sort_num"><!--{$i}--></span>
                        </div><!--{eval $i++}-->
                        <div class="xsh_expert_name">
                            <a href="">
                                <div class="xsh_expert_logo">
                                    <!--{avatar($expert['uid'], 'small')}-->
                                </div>
                                <div class="xsh_expert_user">
                                    <span>{$expert['username']}</span>
                                </div>
                            </a>
                            <div class="xsh_expert_cad">
                                <ul>
                                    <li><h3>用户名:</h3><span>{$expert['username']}</span></li>
                                    <li><h3>用户状态:</h3><span>用户离线</span></li>
                                    <li><h3>积分：</h3><span>{$expert['credits']}</span></li>
                                </ul>
                            </div>
                        </div>
                        <div class="xsh_expert_add">
                            <div class="xsh_expert_integral"><span>{$expert['credits']}</span>积分</div>
                            <div class="xsh_expert_addbtn">
                                <a href="">+ 好友</a>
                            </div>
                        </div>
                    </li>
                    <!--{/loop}-->
                </ul>
            </div>
        </div>
        <!--下载社区APP-->
        <div class="xsh_interaction">
            <div class="xsh_intera_header xsh_con_right_header">
                <h3>下载中兴社区APP</h3>
            </div>
            <div class="xsh_download">
                <img src="/static/zte/images/u42.png" alt="加载不成功">
                <img src="/static/zte/images/u42.png" alt="加载不成功">
                <img src="/static/zte/images/u42.png" alt="加载不成功">
                <img src="/static/zte/images/u42.png" alt="加载不成功">
            </div>
        </div>
        <!--友情链接-->
        <div class="xsh_interaction">
            <div class="xsh_intera_header xsh_con_right_header">
                <h3>友情链接</h3>
            </div>
            <div class="xsh_link">
                <ul>
                    <!--{loop friendLink() $link}-->
                    <li><a href="{$link['url']}">{$link['name']}</a></li>
                    <!--{/loop}-->
                </ul>
            </div>
        </div>
    </div>
</div>
<!--{subtemplate common/self_js}-->