<div class="xsh_expert_box">
    <div class="xsh_expert">
        <div class="xsh_close" onclick="closeform()"></div>
        <div class="xsh_expert_form_header"><h3></h3>
        </div>
        <form action="ztindex.php?api=1&post=1" class="xsh_expert_form" name="xsh_expert_form">
            <h3>请选择类型</h3>
            <div class="xsh_expert_radio">
            </div>
            <div class="xsh_expert_textarea">
                <textarea name="" id="" cols="100" rows="10" required="required" placeholder="留下您的建议/问题，专家会尽快给您回复"></textarea>
            </div>
            <input type="submit" class="xsh_expert_form_submit" value="发送" onclick="formsubmit()">
        </form>
    </div>
</div>